.song
  display flex
  height 50px
  padding 5px 15px
  font-size 14px
  transition background-color .2s linear
  &:hover
    background-color rgba(0,0,0,0.1)

  .song-index
    width 30px
    height 30px
    line-height 32px
    opacity 0.7

  .song-info
    flex 1

    .name
      height 30px
      line-height 30px
      font-size 16px

    .more
      height 20px
      line-height 20px
      opacity .7
      .split
        margin 0 6px
    
  .song-duration
    height 30px
    line-height 30px