.current-list
  float left
  width 240px
  height 300px
  margin-top 10px
  text-align center

  img
    width 240px
    heigh 240px
  
  .title
    margin 15px 0
    font-size 18px
  .desc
    margin 10px 0
    span
      opacity .7