.current-list
  float left
  width 240px
  height 300px
  margin-top 10px
  text-align center

  img
    width 240px
    heigh 240px
  
  .al-name
    margin 15px 0
    font-size 18px
  
  .ar-name
    span
      opacity .7