@import '../../styl/functions.styl'

.bar
  position fixed
  left 0
  bottom 0
  width 100%
  height 70px
  background rgba(0,0,0,.15)
  // background rgba(0,139,139,.8)
  // background dodgerblue
  // background linear-gradient(105deg,#008b8b,dodgerblue)
  .info
    float left
    width 33.3%
    .pic
      float left
      width 70px
      height 70px
      margin-right 10px

    .title
      font-size 1.2em
      margin 15px 0
      text-overflow()

    .desc
      opacity .75
      text-overflow()
  
  .controls
    .play
      width 3em
      height 3em
    .pause
      width 2em
      height 2em