.bar
  position fixed
  left 0
  bottom 0
  width 100%
  height 70px
  background #369
  // background rgba(53,60,70, .9)

  .info
    float left
    width 33.3%
    .pic
      float left
      width 70px
      height 70px
      margin-right 10px

    .title
      font-size 18px
      margin 10px 0

    .desc
      opacity .75