html
  font 62.5%/1 "Microsoft Yahei", Arial,Helvetica, sans-serif
  color rgba(255,255,255,0.8)

body
  font-size 1.4rem
  background #06f

@font-face
  font-family 'lombok'
  src url("../../static/fonts/Lombok.otf") format('truetype')
  font-style normal
  font-weight normal